/* In your CSS file or inline style */
.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom CSS for hover color */
.navbar-nav .nav-link:hover {
  color: orange !important;
}

/* styles.css */
.orange-text {
  color: orange !important;
}